@charset "utf-8";


/*------------------------*/
/* Base Rules             */
/*------------------------*/


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.alignment {
  align-items: center;
}

h1 {
  font-weight: 200;
  letter-spacing: 5px;
  color: #0099ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header-content {
  background-color: #f0f0f0;
  color: white;
  height: 80px;
}

button {
  padding: 10px 20px 12px 20px;
  height: 100%;
  background-color: #0099ff;
  color: #fff;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 5ms ease-in-out;
}

button:hover {
  background-color: aqua;
  transition: 5ms ease-in-out;
}

.body {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  width: 100%;

  h2 {
    font-size: 1.9rem;
    color: rgb(30, 30, 100)
  }

  p {
    font-size: 0.8rem;
  }
}

.map {
  height: 325px;
  width: 80%;
  padding: 20px;
  margin-top: 30px;
}